.navigation {
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
}

#title {
  height: 8rem;
}

.menu {
  text-align: left;
  margin-right: 38rem;
}

.btn {
  margin: 2rem;
  size: 10rem;
}

#dropdownMenuButton1 #dropdownMenuButton2 #dropdownMenuButton3 {
  font-family: "Red Hat Mono", monospace;
}

.dropone {
  height: 130px;
  overflow: auto;
}

.card-title {
  font-family: "Ubuntu", sans-serif;
}

#events {
  text-align: center;
}

.carousel {
  border-radius: 50px;
}

.home-img {
  width: 98%;
}

#search {
  padding-right: 50rem;
}
.name-group {
  margin-left: 1.75rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.form-control {
  font-size: 1.25rem;
}

.cards {
  text-align: center;
  background-color: #e3f2fd;
}

.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.footer-img1 {
  padding-top: 4rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: space-around;
  color: #fff;
  background-color: black;
}

.footer-img2 {
  padding-bottom: 2rem;
  text-align: center;
  background-color: black;
  color: #fff;
}

.nav-link {
  margin: 1rem;
}
@media (min-width: 998px) {
  .col-lg-4 {
    margin-bottom: 2rem;
    flex: 0 0 33%;
    max-width: 33.333333%;
  }
}
.col-lg-4 {
  margin-bottom: 2rem;
}

.card-block {
  height: 26.25rem;
}

#option {
  height: 8vh;
}

@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
}

/**************Custom Scrollbar*************/
html {
  scrollbar-width: thin;
  scrollbar-color: black transparent;
  padding-left: 0px;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0.65vw;
}
html::-webkit-scrollbar-thumb {
  width: 2vw;
  margin-top: 1vh;
  background: black;
  border-radius: 0.1rem;
}
html::-webkit-scrollbar-thumb:hover {
  width: 2vw;
  background: black;
  border-radius: 0.1rem;
}

/*****************************************Footer CSS**********************************/
.footer-img1 img {
  height: 5.6rem;
  width: 5.6rem;
  margin: 0;
  padding: 0%;
}
.footer-img1 div {
  text-align: center;
  height: 6.6rem;
  display: block;
}
.footer-img1 {
  padding-bottom: 4.7em;
}

/*************************Navbar Style************************/
/*-------------Reset-------------*/
button {
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
}
button:focus,
input:focus {
  outline: 0;
}
html {
  scroll-behavior: smooth;
}
/*-------------Layout-------------*/
body {
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}

#home {
  background-color: #ddd;
}
#about {
  background-color: #aaa;
}
#work {
  background-color: #888;
}
#contact {
  background-color: #666;
}
/*-------------Helpers-------------*/
.skew {
  transform: skew(-20deg);
}
.un-skew {
  transform: skew(20deg);
}
/*-------------Nav-------------*/
#nav-wrapper {
  height: 5rem;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
#nav {
  margin-bottom: 4rem;
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  font-family: "Saira Semi Condensed", sans-serif;
  height: 4em;
  overflow: hidden;
}
#nav.nav-visible {
  height: 100%;
  overflow: auto;
}
.nav {
  display: flex;
  height: 4em;
  line-height: 4em;
  flex-grow: 1;
}
.nav-link,
.logo {
  padding: 0 1em;
}
span.gradient {
  background: #f857a8;
  background: -webkit-linear-gradient(45deg, #f857a8, #ff5858);
  background: linear-gradient(45deg, #f857a8, #ff5858);
  padding: 0 1em;
  position: relative;
  right: 1em;
  margin-right: auto;
}
span.gradient:hover {
  animation-name: logo-hover;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
}
h1.logo {
  font-weight: 300;
  font-size: 1.75em;
  line-height: 0.75em;
  color: #fff;
}
h1.logoa,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  color: linear-gradient(45deg, #f857a8, #ff5858);
}
.nav-link {
  text-transform: uppercase;
  text-align: center;
  border-top: 0.5px solid #ddd;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #f857a8;
}
a:hover {
  text-decoration: underline;
}
.right {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.btn-nav {
  /* color: #f857a8; */
  color: white;
  padding-left: 2em;
  padding-right: 2em;
}
@media (min-width: 800px) {
  #nav-wrapper {
    overflow: hidden;
  }
  #nav {
    overflow: hidden;
    flex-direction: row;
  }
  .nav-link {
    border-top: none;
  }
  .right {
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    left: 1.5em;
    height: auto;
  }
  .btn-nav {
    display: none;
  }
  .nava:link.active,
  a:visited.active,
  a:active.active {
    background: #f857a8;
    background: -webkit-linear-gradient(45deg, #f857a8, #ff5858);
    background: linear-gradient(45deg, #f857a8, #ff5858);
    color: linear-gradient(45deg, #f857a8, #ff5858);
  }
  .nav-link-span {
    transform: skew(20deg);
    display: inline-block;
  }
  .nav-link {
    transform: skew(-20deg);
    color: #777;
    text-decoration: none;
  }
  .nav-link:last-child {
    padding-right: 3em;
  }
  a:hover.nav-link:not(.active) {
    color: #444;
    background: #ddd;
    background: linear-gradient(45deg, #fff, #ddd);
  }
}
@keyframes logo-hover {
  20% {
    padding-right: 0em;
  }
  100% {
    padding-right: 5em;
  }
}
#xcode a:link,
#xcode a:visited,
#xcode a:active {
  color: white;
  text-decoration: none;
}

/**********************************************************/
@media (max-width: 768px) {
  .upay {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
  }
}
